@using Vinoteca_MVC_Core.Models.Models
@model Variety
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-controller="Variety" asp-action="Delete">
    <div class="border p-4">
        <h2>Delete Variety</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="VarietyName" class="form-label"></label>
            <input asp-for="VarietyName" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" disabled class="form-control" />
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-danger mx-3" style="width: 200px;">
                <i class="bi bi-check2-square"></i> &nbsp
                Save
            </button>
            <a asp-controller="Variety" asp-action="Index" class="btn btn-success" style="width: 200px;">
                <i class="bi bi-skip-backward"></i> &nbsp
                Back to List
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

