@using Vinoteca_MVC_Core.ViewModels.Product;
@model IEnumerable<ProductListVm>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Product List</h2>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                New Product
            </a>
        </div>
    </div>
    <table id="tblProducts" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:50%">Description</th>
                <th style="width:50%">Winemaker_Notes</th>
                <th style="width:18%">Price</th>
                <th style="width:18%">Stock</th>
                <th style="width:32%">Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}


