@using Vinoteca_MVC_Core.ViewModels.Product
@model ProductEditVm
@{
    ViewData["Title"] = "UpSert";
}

<form method="post" asp-controller="Product" asp-action="UpSert" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <input type="hidden" asp-for="Product.ImageUrl" />
    <div class="border p-3 mt-4 row">
        <div class="row">
            <div class="col-9">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Product.Id == 0 ? "New Product" : "Edit Product")</h2>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Product.Description" class="form-label"></label>
                    <input asp-for="Product.Description" class="form-control" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Winemaker_Notes" class="form-label"></label>
                    <textarea asp-for="Product.Winemaker_Notes" class="form-control"> </textarea>
                    <span asp-validation-for="Product.Winemaker_Notes" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <img src="@Model.Product.ImageUrl" width="200px" height="300px" style="border:1px solid; border-radius:5px;" />
            </div>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Stock" class="form-label"></label>
            <input asp-for="Product.Stock" class="form-control" />
            <span asp-validation-for="Product.Stock" class="text-danger"></span>
        </div>

        <div class="mb-3 col-6">
            <label asp-for="Product.Price" class="form-label"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.VarietyId" class="form-label"></label>
            <select asp-for="Product.VarietyId" asp-items="Model.VarietiesList" class="form-select">
                <option disabled selected>--Select Variety--</option>
            </select>
            <span asp-validation-for="Product.VarietyId" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.WineryId" class="form-label"></label>
            <select asp-for="Product.WineryId" asp-items="Model.WineriesList" class="form-select">
                <option disabled selected>--Select Winery--</option>
            </select>
            <span asp-validation-for="Product.WineryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" id="uploadBox" name="file" class="form-control" />
        </div>

        <div class="col-12">
            @if (Model.Product.Id == 0)
            {
                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:200px">
                    <i class="bi bi-floppy"></i> &nbsp;
                    Save
                </button>

            }
            else
            {
                <button type="submit" class="btn btn-warning" style="width:200px">
                    <i class="bi bi-floppy"></i> &nbsp;
                    Save
                </button>

            }
            <a asp-controller="Product" asp-action="Index" style="width:200px" class="btn btn-success">
                <i class="bi bi-backspace"></i>  &nbsp;
                Back to List
            </a>

        </div>

    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}